
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}

html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}

.website-table th:first-child,.website-table td:first-child,.website-table-all th:first-child,.website-table-all td:first-child{padding-left:16px}
.website-btn,.website-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.website-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.website-btn,.website-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.website-disabled,.website-btn:disabled,.website-button:disabled{cursor:not-allowed;opacity:0.3}.website-disabled *,:disabled *{pointer-events:none}
.website-btn.website-disabled:hover,.website-btn:disabled:hover{box-shadow:none}
.website-badge,.website-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.website-badge{border-radius:50%}
.website-ul{list-style-type:none;padding:0;margin:0}.website-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.website-ul li:last-child{border-bottom:none}
.website-tooltip,.website-display-container{position:relative}.website-tooltip .website-text{display:none}.website-tooltip:hover .website-text{display:inline-block}
.website-ripple:active{opacity:0.5}.website-ripple{transition:opacity 0s}
.website-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.website-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.website-dropdown-click,.website-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.website-dropdown-hover:hover .website-dropdown-content{display:block}
.website-dropdown-hover:first-child,.website-dropdown-click:hover{background-color:#ccc;color:#000}
.website-dropdown-hover:hover > .website-button:first-child,.website-dropdown-click:hover > .website-button:first-child{background-color:#ccc;color:#000}
.website-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.website-check,.website-radio{width:24px;height:24px;position:relative;top:6px}
.website-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.website-bar-block .website-dropdown-hover,.website-bar-block .website-dropdown-click{width:100%}
.website-bar-block .website-dropdown-hover .website-dropdown-content,.website-bar-block .website-dropdown-click .website-dropdown-content{min-width:100%}
.website-bar-block .website-dropdown-hover .website-button,.website-bar-block .website-dropdown-click .website-button{width:100%;text-align:left;padding:8px 16px}
.website-main,#main{transition:margin-left .4s}
.website-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.website-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.website-bar{width:100%;overflow:hidden}.website-center .website-bar{display:inline-block;width:auto}
.website-bar .website-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.website-bar .website-dropdown-hover,.website-bar .website-dropdown-click{position:static;float:left}
.website-bar .website-button{white-space:normal}
.website-bar-block .website-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.website-bar-block.website-center .website-bar-item{text-align:center}.website-block{display:block;width:100%}
.website-responsive{display:block;overflow-x:auto}
.website-container:after,.website-container:before,.website-panel:after,.website-panel:before,.website-row:after,.website-row:before,.website-row-padding:after,.website-row-padding:before,
.website-cell-row:before,.website-cell-row:after,.website-clear:after,.website-clear:before,.website-bar:before,.website-bar:after{content:"";display:table;clear:both}
.website-col,.website-half,.website-third,.website-twothird,.website-threequarter,.website-quarter{float:left;width:100%}
.website-col.s1{width:8.33333%}.website-col.s2{width:16.66666%}.website-col.s3{width:24.99999%}.website-col.s4{width:33.33333%}
.website-col.s5{width:41.66666%}.website-col.s6{width:49.99999%}.website-col.s7{width:58.33333%}.website-col.s8{width:66.66666%}
.website-col.s9{width:74.99999%}.website-col.s10{width:83.33333%}.website-col.s11{width:91.66666%}.website-col.s12{width:99.99999%}
@media (min-width:601px){.website-col.m1{width:8.33333%}.website-col.m2{width:16.66666%}.website-col.m3,.website-quarter{width:24.99999%}.website-col.m4,.website-third{width:33.33333%}
.website-col.m5{width:41.66666%}.website-col.m6,.website-half{width:49.99999%}.website-col.m7{width:58.33333%}.website-col.m8,.website-twothird{width:66.66666%}
.website-col.m9,.website-threequarter{width:74.99999%}.website-col.m10{width:83.33333%}.website-col.m11{width:91.66666%}.website-col.m12{width:99.99999%}}
@media (min-width:993px){.website-col.l1{width:8.33333%}.website-col.l2{width:16.66666%}.website-col.l3{width:24.99999%}.website-col.l4{width:33.33333%}
.website-col.l5{width:41.66666%}.website-col.l6{width:49.99999%}.website-col.l7{width:58.33333%}.website-col.l8{width:66.66666%}
.website-col.l9{width:74.99999%}.website-col.l10{width:83.33333%}.website-col.l11{width:91.66666%}.website-col.l12{width:99.99999%}}
.website-rest{overflow:hidden}.website-stretch{margin-left:-16px;margin-right:-16px}
.website-content,.website-auto{margin-left:auto;margin-right:auto}.website-content{max-width:980px}.website-auto{max-width:1140px}
.website-cell-row{display:table;width:100%}.website-cell{display:table-cell}
.website-cell-top{vertical-align:top}.website-cell-middle{vertical-align:middle}.website-cell-bottom{vertical-align:bottom}
.website-hide{display:none!important}.website-show-block,.website-show{display:block!important}.website-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.website-auto{max-width:95%}}
@media (max-width:600px){.website-modal-content{margin:0 10px;width:auto!important}.website-modal{padding-top:30px}
.website-dropdown-hover.website-mobile .website-dropdown-content,.website-dropdown-click.website-mobile .website-dropdown-content{position:relative}	
.website-hide-small{display:none!important}.website-mobile{display:block;width:100%!important}.website-bar-item.website-mobile,.website-dropdown-hover.website-mobile,.website-dropdown-click.website-mobile{text-align:center}
.website-dropdown-hover.website-mobile,.website-dropdown-hover.website-mobile .website-btn,.website-dropdown-hover.website-mobile .website-button,.website-dropdown-click.website-mobile,.website-dropdown-click.website-mobile .website-btn,.website-dropdown-click.website-mobile .website-button{width:100%}}

.website-top,.website-bottom{position:fixed;width:100%;z-index:1}.website-top{top:0}.website-bottom{bottom:0}
.website-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.website-display-topleft{position:absolute;left:0;top:0}.website-display-topright{position:absolute;right:0;top:0}
.website-display-bottomleft{position:absolute;left:0;bottom:0}.website-display-bottomright{position:absolute;right:0;bottom:0}
.website-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.website-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.website-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.website-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.website-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.website-display-container:hover .website-display-hover{display:block}.website-display-container:hover span.website-display-hover{display:inline-block}.website-display-hover{display:none}
.website-display-position{position:absolute}
.website-circle{border-radius:50%}
.website-round-small{border-radius:2px}.website-round,.website-round-medium{border-radius:4px}.website-round-large{border-radius:8px}.website-round-xlarge{border-radius:16px}.website-round-xxlarge{border-radius:32px}
.website-row-padding,.website-row-padding>.website-half,.website-row-padding>.website-third,.website-row-padding>.website-twothird,.website-row-padding>.website-threequarter,.website-row-padding>.website-quarter,.website-row-padding>.website-col{padding:0 8px}
.website-container,.website-panel{padding:0.01em 16px}.website-panel{margin-top:16px;margin-bottom:16px}
.website-code,.website-codespan{font-family:Consolas,"courier new";font-size:16px}
.website-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.website-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.website-card,.website-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.website-card-4,.website-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.website-spin{animation:website-spin 2s infinite linear}@keyframes website-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.website-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.website-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.website-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.website-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.website-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.website-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.website-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.website-animate-input{transition:width 0.4s ease-in-out}.website-animate-input:focus{width:100%!important}
.website-opacity,.website-hover-opacity:hover{opacity:0.60}.website-opacity-off,.website-hover-opacity-off:hover{opacity:1}
.website-opacity-max{opacity:0.25}.website-opacity-min{opacity:0.75}
.website-greyscale-max,.website-grayscale-max,.website-hover-greyscale:hover,.website-hover-grayscale:hover{filter:grayscale(100%)}
.website-greyscale,.website-grayscale{filter:grayscale(75%)}.website-greyscale-min,.website-grayscale-min{filter:grayscale(50%)}
.website-sepia{filter:sepia(75%)}.website-sepia-max,.website-hover-sepia:hover{filter:sepia(100%)}.website-sepia-min{filter:sepia(50%)}
.website-tiny{font-size:10px!important}.website-small{font-size:12px!important}.website-medium{font-size:15px!important}.website-large{font-size:18px!important}
.website-xlarge{font-size:24px!important}.website-xxlarge{font-size:36px!important}.website-xxxlarge{font-size:48px!important}.website-jumbo{font-size:64px!important}
.website-left-align{text-align:left!important}.website-right-align{text-align:right!important}.website-justify{text-align:justify!important}.website-center{text-align:center!important}
.website-border-0{border:0!important}.website-border{border:1px solid #ccc!important}
.website-border-top{border-top:1px solid #ccc!important}.website-border-bottom{border-bottom:1px solid #ccc!important}
.website-border-left{border-left:1px solid #ccc!important}.website-border-right{border-right:1px solid #ccc!important}
.website-topbar{border-top:6px solid #ccc!important}.website-bottombar{border-bottom:6px solid #ccc!important}
.website-leftbar{border-left:6px solid #ccc!important}.website-rightbar{border-right:6px solid #ccc!important}
.website-section,.website-code{margin-top:16px!important;margin-bottom:16px!important}
.website-margin{margin:16px!important}.website-margin-top{margin-top:16px!important}.website-margin-bottom{margin-bottom:16px!important}
.website-margin-left{margin-left:16px!important}.website-margin-right{margin-right:16px!important}
.website-padding-small{padding:4px 8px!important}.website-padding{padding:8px 16px!important}.website-padding-large{padding:12px 24px!important}
.website-padding-16{padding-top:16px!important;padding-bottom:16px!important}.website-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.website-padding-32{padding-top:32px!important;padding-bottom:32px!important}.website-padding-48{padding-top:48px!important;padding-bottom:48px!important}


.website-white,.website-hover-white:hover{color:#000!important;background-color:#fff!important}
.website-black,.website-hover-black:hover{color:#fff!important;background-color:#000!important}
.website-grey,.website-hover-grey:hover,.website-gray,.website-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.website-light-grey,.website-hover-light-grey:hover,.website-light-gray,.website-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.website-dark-grey,.website-hover-dark-grey:hover,.website-dark-gray,.website-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
